body {
  margin: 0;
  padding: 0;
}
.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 1.25rem;
}

.card {
  width: 12.5rem;
  border: 1px solid grey;
  padding: 1rem;
  height: 7.5rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
